# Koneksi Database

In [1]:
import MySQLdb
 
db = MySQLdb.connect(host="localhost",  # your host 
                     user="root",       # username
                     passwd="masrestu",     # password
                     db="fuzzy")   # name of the database

# Membuat Objek untuk Execute SQL

In [2]:
sql = db.cursor()

# Data Awal

In [3]:
sql.execute("SELECT * FROM karyawan")
for row in sql.fetchall() :
    print(row[0], " ", row[1], " ", row[2], " ", row[3], " ", row[4])

01   Lia   30   6.0   750000.0
02   Iwan   48   17.0   1500000.0
03   Sari   36   14.0   1255000.0
04   Andi   37   4.0   1040000.0
05   Budi   42   12.0   950000.0
06   Amir   39   13.0   1600000.0
07   Rian   37   5.0   1250000.0
08   Kiki   32   1.0   550000.0
09   Alda   35   3.0   735000.0
10   Yoga   25   2.0   860000.0

# Fungsi Fuzzy Umur

In [4]:
def _muda(umur):
    if umur <= 30:
        return 1
    if umur >= 40:
        return 0
    if umur > 30 and umur < 40:
        return (40 - umur) / 10

def _parobaya(umur):
    if umur <= 35 or umur >= 50:
        return 0
    if umur > 35 and umur < 45:
        return (umur - 35)/ 10
    if umur > 45 and umur < 50:
        return (50 - umur) / 5
def _tua(umur):
    if umur <= 40:
        return 0
    if umur >= 50:
        return 1
    if umur > 40 and umur < 50:
        return (umur - 40) / 10

def predict_Umur(umur):
    muda = _muda(umur)
    parobaya = _parobaya(umur)
    tua = _tua(umur)

    return muda, parobaya, tua

# Fungsi Fuzzy Masa Kerja

In [5]:
def _baru(masakerja):
    if masakerja <= 5:
        return 1
    if masakerja >= 15:
        return 0
    if masakerja > 5 or masakerja < 15:
        return (15 - masakerja)/10


def _lama(masakerja):
    if masakerja <= 10:
        return 0
    if masakerja >= 25:
        return 1
    if masakerja > 10 or masakerja < 25:
        return (masakerja - 10)/15

def predict_MasaKerja(masakerja):
    baru = _baru(masakerja)
    lama = _lama(masakerja)
    return baru, lama

# Fungsi Fuzzy Gaji

In [6]:
def _rendah(gaji):
    if gaji <= 300000:
        return 1
    if gaji >=800000:
        return 0
    if gaji > 300000 or gaji < 800000:
        return (800000 - gaji) / 500000

def _sedang(gaji):
    if gaji <= 500000 or gaji >= 1500000:
        return 0
    if gaji> 500000 and gaji < 1000000:
        return (gaji - 500000)/ 500000
    if gaji > 1000000 and gaji < 1500000:
        return (1500000 - gaji) / 500000

def _tinggi(gaji):
    if gaji <= 1000000:
        return 0
    if gaji >=2000000:
        return 1
    if gaji > 1000000 or gaji < 2000000:
        return (gaji - 1000000) / 1000000

def predict_Gaji(gaji):       
    rendah = _rendah(gaji)
    sedang = _sedang(gaji)
    tinggi = _tinggi(gaji)
    return rendah, sedang, tinggi

# Membuat Tabel

In [20]:
from beautifultable import BeautifulTable

table_umur = BeautifulTable()

table_masakerja = BeautifulTable()

table_gaji = BeautifulTable()

table = BeautifulTable()

# Fuzzy Umur

In [8]:
sql.execute("SELECT * FROM karyawan")

header_umur = ["No","Nama","Umur","Muda","Parobaya","Tua"]
table_umur.column_headers = header_umur

for row in sql.fetchall() :
    muda, parobaya, tua = predict_Umur(row[2])
    #print(row[0], " ", row[1], " ", row[2], " ", row[3], " ", row[4], " ", muda, " ", parobaya, " ", tua)
    table_umur.append_row([row[0], row[1], row[2], muda, parobaya, tua])

print(table_umur)

+----+------+------+------+----------+-----+
| No | Nama | Umur | Muda | Parobaya | Tua |
+----+------+------+------+----------+-----+
| 1  | Lia  |  30  |  1   |    0     |  0  |
+----+------+------+------+----------+-----+
| 2  | Iwan |  48  |  0   |   0.4    | 0.8 |
+----+------+------+------+----------+-----+
| 3  | Sari |  36  | 0.4  |   0.1    |  0  |
+----+------+------+------+----------+-----+
| 4  | Andi |  37  | 0.3  |   0.2    |  0  |
+----+------+------+------+----------+-----+
| 5  | Budi |  42  |  0   |   0.7    | 0.2 |
+----+------+------+------+----------+-----+
| 6  | Amir |  39  | 0.1  |   0.4    |  0  |
+----+------+------+------+----------+-----+
| 7  | Rian |  37  | 0.3  |   0.2    |  0  |
+----+------+------+------+----------+-----+
| 8  | Kiki |  32  | 0.8  |    0     |  0  |
+----+------+------+------+----------+-----+
| 9  | Alda |  35  | 0.5  |    0     |  0  |
+----+------+------+------+----------+-----+
| 10 | Yoga |  25  |  1   |    0     |  0  |
+----+------+------+------+----------+-----+

# Fuzzy Masa Kerja

In [9]:
sql.execute("SELECT * FROM karyawan")

header_masakerja = ["No","Nama","Masa Kerja","Baru","Lama"]
table_masakerja.column_headers = header_masakerja

for row in sql.fetchall() :
    baru, lama = predict_MasaKerja(row[3])
    table_masakerja.append_row([row[0], row[1], row[3], baru, lama])

print(table_masakerja)

+----+------+------------+------+-------+
| No | Nama | Masa Kerja | Baru | Lama  |
+----+------+------------+------+-------+
| 1  | Lia  |     6      | 0.9  |   0   |
+----+------+------------+------+-------+
| 2  | Iwan |     17     |  0   | 0.467 |
+----+------+------------+------+-------+
| 3  | Sari |     14     | 0.1  | 0.267 |
+----+------+------------+------+-------+
| 4  | Andi |     4      |  1   |   0   |
+----+------+------------+------+-------+
| 5  | Budi |     12     | 0.3  | 0.133 |
+----+------+------------+------+-------+
| 6  | Amir |     13     | 0.2  |  0.2  |
+----+------+------------+------+-------+
| 7  | Rian |     5      |  1   |   0   |
+----+------+------------+------+-------+
| 8  | Kiki |     1      |  1   |   0   |
+----+------+------------+------+-------+
| 9  | Alda |     3      |  1   |   0   |
+----+------+------------+------+-------+
| 10 | Yoga |     2      |  1   |   0   |
+----+------+------------+------+-------+

# Fuzzy Gaji

In [10]:
sql.execute("SELECT * FROM karyawan")

header_gaji = ["No","Nama","Gaji","Rendah","Sedang","Tinggi"]
table_gaji.column_headers = header_gaji

for row in sql.fetchall() :
    rendah, sedang, tinggi = predict_Gaji(row[4])
    table_gaji.append_row([row[0], row[1], row[4], rendah, sedang, tinggi])

print(table_gaji)

+----+------+---------+--------+--------+--------+
| No | Nama |  Gaji   | Rendah | Sedang | Tinggi |
+----+------+---------+--------+--------+--------+
| 1  | Lia  | 750000  |  0.1   |  0.5   |   0    |
+----+------+---------+--------+--------+--------+
| 2  | Iwan | 1500000 |   0    |   0    |  0.5   |
+----+------+---------+--------+--------+--------+
| 3  | Sari | 1255000 |   0    |  0.49  | 0.255  |
+----+------+---------+--------+--------+--------+
| 4  | Andi | 1040000 |   0    |  0.92  |  0.04  |
+----+------+---------+--------+--------+--------+
| 5  | Budi | 950000  |   0    |  0.9   |   0    |
+----+------+---------+--------+--------+--------+
| 6  | Amir | 1600000 |   0    |   0    |  0.6   |
+----+------+---------+--------+--------+--------+
| 7  | Rian | 1250000 |   0    |  0.5   |  0.25  |
+----+------+---------+--------+--------+--------+
| 8  | Kiki | 550000  |  0.5   |  0.1   |   0    |
+----+------+---------+--------+--------+--------+
| 9  | Alda | 735000  |  0.13  |  0.47  |   0    |
+----+------+---------+--------+--------+--------+
| 10 | Yoga | 860000  |   0    |  0.72  |   0    |
+----+------+---------+--------+--------+--------+

# Fuzzy umur muda dan gaji tinggi

In [19]:
sql.execute("SELECT * FROM karyawan")

header = ["No","Nama","Umur","Gaji","Muda","Tinggi","Muda & Tinggi"]
table.column_headers = header

for row in sql.fetchall() :
    muda, parobaya, tua = predict_Umur(row[2])
    rendah, sedang, tinggi = predict_Gaji(row[4])
    table.append_row([row[0], row[1],row[2],row[4],muda,tinggi,min(muda,tinggi)])

print(table)

+----+------+------+---------+------+--------+---------------------------------+
| No | Nama | Umur |  Gaji   | Muda | Tinggi |          Muda & Tinggi          |
+----+------+------+---------+------+--------+---------------------------------+
| 1  | Lia  |  30  | 750000  |  1   |   0    |                0                |
+----+------+------+---------+------+--------+---------------------------------+
| 2  | Iwan |  48  | 1500000 |  0   |  0.5   |                0                |
+----+------+------+---------+------+--------+---------------------------------+
| 3  | Sari |  36  | 1255000 | 0.4  | 0.255  |              0.255              |
+----+------+------+---------+------+--------+---------------------------------+
| 4  | Andi |  37  | 1040000 | 0.3  |  0.04  |              0.04               |
+----+------+------+---------+------+--------+---------------------------------+
| 5  | Budi |  42  | 950000  |  0   |   0    |                0                |
+----+------+------+---------+------+--------+---------------------------------+
| 6  | Amir |  39  | 1600000 | 0.1  |  0.6   |               0.1               |
+----+------+------+---------+------+--------+---------------------------------+
| 7  | Rian |  37  | 1250000 | 0.3  |  0.25  |              0.25               |
+----+------+------+---------+------+--------+---------------------------------+
| 8  | Kiki |  32  | 550000  | 0.8  |   0    |                0                |
+----+------+------+---------+------+--------+---------------------------------+
| 9  | Alda |  35  | 735000  | 0.5  |   0    |                0                |
+----+------+------+---------+------+--------+---------------------------------+
| 10 | Yoga |  25  | 860000  |  1   |   0    |                0                |
+----+------+------+---------+------+--------+---------------------------------+

# Fuzzy umur muda dan gaji tinggi

In [21]:
sql.execute("SELECT * FROM karyawan")

header = ["No","Nama","Umur","Gaji","Muda","Tinggi","Muda / Tinggi"]
table.column_headers = header

for row in sql.fetchall() :
    muda, parobaya, tua = predict_Umur(row[2])
    rendah, sedang, tinggi = predict_Gaji(row[4])
    table.append_row([row[0], row[1],row[2],row[4],muda,tinggi,max(muda,tinggi)])

print(table)

+----+------+------+---------+------+--------+---------------------------------+
| No | Nama | Umur |  Gaji   | Muda | Tinggi |          Muda / Tinggi          |
+----+------+------+---------+------+--------+---------------------------------+
| 1  | Lia  |  30  | 750000  |  1   |   0    |                1                |
+----+------+------+---------+------+--------+---------------------------------+
| 2  | Iwan |  48  | 1500000 |  0   |  0.5   |               0.5               |
+----+------+------+---------+------+--------+---------------------------------+
| 3  | Sari |  36  | 1255000 | 0.4  | 0.255  |               0.4               |
+----+------+------+---------+------+--------+---------------------------------+
| 4  | Andi |  37  | 1040000 | 0.3  |  0.04  |               0.3               |
+----+------+------+---------+------+--------+---------------------------------+
| 5  | Budi |  42  | 950000  |  0   |   0    |                0                |
+----+------+------+---------+------+--------+---------------------------------+
| 6  | Amir |  39  | 1600000 | 0.1  |  0.6   |               0.6               |
+----+------+------+---------+------+--------+---------------------------------+
| 7  | Rian |  37  | 1250000 | 0.3  |  0.25  |               0.3               |
+----+------+------+---------+------+--------+---------------------------------+
| 8  | Kiki |  32  | 550000  | 0.8  |   0    |               0.8               |
+----+------+------+---------+------+--------+---------------------------------+
| 9  | Alda |  35  | 735000  | 0.5  |   0    |               0.5               |
+----+------+------+---------+------+--------+---------------------------------+
| 10 | Yoga |  25  | 860000  |  1   |   0    |                1                |
+----+------+------+---------+------+--------+---------------------------------+

# Murah Semua